{% extends 'base.html.twig' %}

{% block menu %}
    <nav>
        <a href="{{ path('www') }}" class="{{ app.request.get('_route') == 'www' ? 'active' }}">Site</a>
        <a href="{{ path('admin_year') }}" class="{{ app.request.get('_route') starts with 'admin_year' ? 'active' }}">Années</a>
        <a href="{{ path('admin_contest') }}" class="{{ app.request.get('_route') starts with 'admin_contest' ? 'active' }}">Concours</a>
        <a href="#" class="{{ app.request.get('_route') starts with 'admin_link' ? 'active' }}">Liens</a>
        <a href="#" class="{{ app.request.get('_route') starts with 'admin_partner' ? 'active' }}">Partenaires</a>
        <a href="#" class="{{ app.request.get('_route') starts with 'admin_thank' ? 'active' }}">Remerciements</a>
        <a href="#" class="{{ app.request.get('_route') starts with 'admin_user' ? 'active' }}">Utilisateurs</a>
        <a href="{{ path('www_logout') }}">Déconnexion</a>
    </nav>
{% endblock %}