<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{% block title %}{{ 'site.title' | trans }}{% endblock %}</title>
    {% block css %}
        {{ encore_entry_link_tags('app') }}
    {% endblock %}
    <link rel="icon" href="{{ asset('build/images/favicon.ico') }}" />
</head>
<body>
<section class="container p-0">
    <header>
        <div id="locales">
            <a href="{{ path(app.request.get('_route'), app.request.attributes.get('_route_params') | merge({'_locale': 'fr'}) ) }}">
                <i class="flag-icon flag-icon-fr"></i>
            </a>
            <a href="{{ path(app.request.get('_route'), app.request.attributes.get('_route_params') | merge({'_locale': 'en'}) ) }}">
                <i class="flag-icon flag-icon-en"></i>
            </a>
        </div>
        <a href="{{ path('www') }}" title="">
            <img src="{{ asset('build/images/logo.png') }}" alt="{{ 'site.title' | trans }}"/>
        </a>
        {% block menu %}
            <nav>
                <a href="{{ path('www') }}"
                   class="{{ app.request.get('_route') == 'www' ? 'active' }}">{{ 'nav.info' | trans }}</a>
                <a href="{{ path('www_sign') }}"
                   class="{{ app.request.get('_route') == 'www_sign' ? 'active' }}">{{ 'nav.sign' | trans }}</a>
                <a href="http://planeur-bailleau.org/" target="_blank">{{ 'nav.club' | trans }}</a>
                <a href="https://www.soaringspot.com/{{ app.request.locale }}/international-bailleau-2021-bailleau-armenonville-2021" target="_blank">{{ 'nav.news' | trans }}</a>
                <a href="https://www.soaringspot.com/{{ app.request.locale }}/international-bailleau-2021-bailleau-armenonville-2021/pilots" target="_blank">{{ 'nav.pilots' | trans }}</a>
                <a href="https://www.soaringspot.com/{{ app.request.locale }}/international-bailleau-2021-bailleau-armenonville-2021/results" target="_blank">{{ 'nav.task' | trans }}</a>
                <a href="https://www.soaringspot.com/{{ app.request.locale }}/international-bailleau-2021-bailleau-armenonville-2021/downloads" target="_blank">{{ 'nav.download' | trans }}</a>
                <a href="https://www.soaringspot.com/{{ app.request.locale }}/international-bailleau-2021-bailleau-armenonville-2021/gallery" target="_blank">{{ 'nav.gallery' | trans }}</a>
                <a href="{{ path('www_contact') }}"
                   class="{{ app.request.get('_route') == 'www_contact' ? 'active' }}">{{ 'nav.contact' | trans }}</a>
            </nav>
        {% endblock %}
    </header>
    <main class="container-fluid">
        {% block aside %}
            <aside>
                <main>
                    <h2>{{ 'contest' | trans }}</h2>
                    <ul>
                        {% for contest in year.contests %}
                            <li>
                                <a href="{{ path('www_contest', {
                                    'contest': contest.id,
                                    'slug': contest.slug
                                }) }}">
                                    <strong>{{ contest.title }}</strong>
                                    {{ contest.description }}
                                </a>
                            </li>
                        {% endfor %}
                    </ul>
                </main>
                <aside>
                    <h3>{{ 'nav.partner' | trans }}</h3>
                    <ul>
                        {% for partner in year.partners | filter(partner => partner.logo) %}
                            <li>
                                <a href="{{ partner.link ?? '#' }}" title="{{ partner.title }}" target="_blank">
                                    <img src="{{ partner.logo }}" alt="{{ partner.title }}">
                                </a>
                            </li>
                        {% endfor %}
                    </ul>
                    <a href="{{ path('www_partner') }}">{{ 'partner.link' | trans }}</a>
                </aside>
            </aside>
        {% endblock %}
        <article>
            {% block filter %}{% endblock %}
            <h1>{{ block('title') }}</h1>
            {% for label, messages in app.flashes %}
                {% for message in messages %}
                    <div class="alert alert-{{ label }}">
                        {{ message }}
                    </div>
                {% endfor %}
            {% endfor %}
            {% block body %}{% endblock %}
        </article>
    </main>
</section>
<footer>
    &copy; Bailleau {{ 'now' | date('Y') }} -
    <a href="{{ path('www_login') }}">Se connecter</a>
</footer>
{% block js %}
    {{ encore_entry_script_tags('app') }}
{% endblock %}
</body>
</html>