{% extends 'admin/admin.html.twig' %}

{% block title %}Remerciements{% endblock %}

{% form_theme filter 'form/filter.html.twig' %}

{% block filter %}
    {{ form(filter) }}
{% endblock %}

{% block body %}
    <table class="table">
        <thead>
            <tr>
                <th>Année</th>
                <th>Titre</th>
                <th class="text-right">
                    <a href="{{ path('admin_thank_add') }}" class="btn btn-sm btn-success">
                        <i class="fa fa-plus"></i>
                    </a>
                </th>
            </tr>
        </thead>
        <tbody>
            {% for thank in thanks %}
                <tr class="{% if thank.year == year.get %}table-success{% endif %}">
                    <td>{{ thank.year }}</td>
                    <td>{{ thank.title }}</td>
                    <td class="text-right">
                        <a href="{{ path('admin_thank_edit', {
                            'thank': thank.id
                        }) }}" class="btn btn-sm btn-primary">
                            <i class="fa fa-edit"></i>
                        </a>
                        <a href="{{ path('admin_thank_delete', {
                            'thank': thank.id
                        }) }}" class="btn btn-sm btn-danger" data-confirm="Êtes-vous sûr de vouloir supprimer ce remerciement ?">
                            <i class="fa fa-trash"></i>
                        </a>
                    </td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="3" class="text-center">
                        <em>Aucun remerciement</em>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    {{ pagination(thanks) }}
{% endblock %}