<p>Bonjour,</p>
<p>Un nouveau vient de vous être envoyé depuis le site du concours de Bailleau.</p>
<ul>
    <li><strong>Prénom</strong> : {{ data.firstname }}</li>
    <li><strong>Nom</strong> : {{ data.lastname }}</li>
    <li><strong>Téléphone</strong> : {{ data.phone }}</li>
    <li><strong>E-mail</strong> : {{ data.email }}</li>
</ul>
<p>{{ data.message }}</p>