{% extends 'admin/admin.html.twig' %}

{% block title %}Partenaires{% endblock %}

{% form_theme filter 'form/filter.html.twig' %}

{% block filter %}
    {{ form(filter) }}
{% endblock %}

{% block body %}
    <table class="table">
        <thead>
            <tr>
                <th>Année</th>
                <th>Titre</th>
                <th>Logo</th>
                <th class="text-right">
                    <a href="{{ path('admin_partner_add') }}" class="btn btn-sm btn-success">
                        <i class="fa fa-plus"></i>
                    </a>
                </th>
            </tr>
        </thead>
        <tbody>
            {% for partner in partners %}
                <tr class="{% if partner.year == year.get %}table-success{% endif %}">
                    <td>{{ partner.year }}</td>
                    <td>{{ partner.title }}</td>
                    <td class="text-center">
                        {% if partner.logo %}
                            <img src="{{ partner.logo }}" height="40" />
                        {% else %}
                            <em>Aucun logo</em>
                        {% endif %}
                    </td>
                    <td class="text-right">
                        <a href="{{ path('admin_partner_edit', {
                            'partner': partner.id
                        }) }}" class="btn btn-sm btn-primary">
                            <i class="fa fa-edit"></i>
                        </a>
                        <a href="{{ path('admin_partner_delete', {
                            'partner': partner.id
                        }) }}" class="btn btn-sm btn-danger" data-confirm="Êtes-vous sûr de vouloir supprimer ce partenaire ?">
                            <i class="fa fa-trash"></i>
                        </a>
                    </td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="4" class="text-center">
                        <em>Aucun partenaire</em>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    {{ pagination(partners) }}
{% endblock %}